@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
   <p>¿Qué es un ABM?<a href="http://www.bywind.com.ar/manuales/argos/ABM.html">
        Click aquí para conocer más sobre ABM</a>.</p>
</div>
