@*@model ABM_.Views.Personas.PersonasModel*@
@{
    ViewData["Title"] = "Add";
}

<div class="text-center">
    <h1 class="display-4">Add people</h1>
    <p>
        <i>Aquí podrá:</i> <br />
        <b>Agregar un nuevo usuario.</b> <br />
     
    </p>
</div>
