@model ABM_.Views.Personas.PersonasModel
@{
    ViewData["Title"] = "Change";
}

<div class="text-center">
    <h1 class="display-4">Change data</h1>
    <p>
        <i>Aquí podrá:</i> <br />
        <b>Actualizar datos</b> <br />

    </p>
</div>