@*@model ABM_.Views.Personas.PersonasModel*@
@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="display-4">Delete data</h1>
    <p>
        <i>Aquí podrá:</i> <br />
        <b>Eliminar datos</b> <br />

    </p>
</div>