
@model ABM_.Views.Personas.PersonasModel
@{
    ViewData["Title"] = "ABM De Personas";
}

<div class="text-center">
    <h1 class="display-4">ABM de Personas </h1>
    <p>
        <i>Aquí podrá:</i> <br />
       
        <li><b>Agregar un nuevo usuario</b></li> <br />
        <li><b>Dar de baja un usuario</b></li> <br />
        <li><b>Editar Información existente de un usuario</li></b>
    </p>
</div>
