@*model ABM_.Views.Personas.PersonasModel*@
@model List<PersonasViewModels>
{
    ViewData["Title"] = "ABM De Personas";
}


<div class="text-center">
    <h1 class="display-4">ABM de Personas </h1>
    <p>
        <i>Aquí podrá:</i> <br />
       
        <li><b>Consultar usuarios registrados.</b></li> <br />
        
    </p>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Domicilio</th>
                    <th>Edad</th>
                </tr>
            </thead>
            <tbody>
                </thead>
            <tbody>
                    @foreach (var persona in ...... )
                    {
                    <tr>
                        <td>@persona.Id</td>
                        <td>@persona.Nombre</td>
                        <td>@persona.Apellido</td>
                        
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
